

.Users{
  width: 100%;
  display: table;
  margin-top: 20px;
  .input-wrap{
    position: relative;
    padding-right: 146px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .btn{
      position: absolute;
      right: 30px;
      top: 0;
    }
  }
  .input-wrap + .input-wrap{
    margin-top: 30px;
  }
  .btn-wrap{
    float: left;
    width: 30%;
  }
  .input-ctrl{
    height: 40px;
  }
  .input-ctrl + .input-ctrl{
    margin-top: 30px;
  }
  .user-column{
    display: table-cell;
    vertical-align: middle;
  }
  .user-thumb{
    width: 30%;
  }
  .member-info{
    width: 70%;
  }
  .btn{
    display: block;
    margin: 0 auto;
  }
  /*thumb*/
  .thumb-item{
    width: 50%;
    margin: 0 auto;
  }
}

